@using Api_Musical.Models
@model List<Cancion>

<h1>Cancion</h1>

<form asp-action="Index" method="get">
    <input type="text" name="busqueda" placeholder="¿Qué quieres escuchar?" />
    <button type="submit">Buscar</button>
</form>

<hr />

@if (Model != null && Model.Count > 0)
{
    <ul>
        @foreach (var cancion in Model)
        {
            <li>
                <div>
                    
                    <img src="@cancion.album.cover_medium" alt="Portada">

                    <div>
                        <strong>Disco: @cancion.album.title</strong> <br />
                        
                        <strong>Canción:</strong> @cancion.title <br />

                        <audio controls>
                            <source src="@cancion.preview" type="audio/mpeg">
                        </audio>
                    </div>
                </div>
            </li>
            <hr />
        }
    </ul>
}
else
{
    <p>No hay resultados (o no se ha buscado nada aún).</p>
}