.buscador {
    width: 50%;
    margin: 20px auto;
    display: flex;
    align-items: center; 
    justify-content: center; 
    gap: 15px;
    padding: 20px;
    height: 100px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    background-color: #dcbadb;
    transition: transform 0.2s;
    box-sizing: border-box;
}

.buscador:hover {
    transform: translateY(-5px);
}

.acciones-buscador{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    height:300px;
}

.buscador input {
    width: 80%;
    height: 50px;
    border: none;
    border-radius: 25px;
    padding: 0 20px;
    font-size: .9rem;
    outline: none;
}

.buscador button {
    width: 25%;
    height: 50px;
    border: none;
    border-radius: 25px;
    background-color: #333;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.2s;
}

.buscador button:hover {
    background-color: #000;
}

.app-title{
    padding: 20px 0px;
}

ul {
    list-style-type: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
    gap: 20px;
}

.songs-card {
    height: 500px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    overflow: hidden;
    transition: transform 0.2s;
}

.songs-card:hover {
    transform: translateY(-5px); 
}

.card-layout {
    display: flex;
    flex-direction: column; 
}

.album-cover {
    width: 100%;
    height: 25%;
    object-fit: cover; 
}

.song-info {
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.song-title {
    margin: 0;
    font-size: 1.2rem;
    color: #333;
}

.artist-name {
    margin: 0;
    font-weight: bold;
    color: #007bff;
}

.info-group {
    font-size: 0.9rem;
    color: #666;
}

.audio-player {
    width: 100%;
    margin-top: 10px;
    height: 30px;
}
